[submodule "vendor/Tigraf-Core"]
	path = vendor/Tigraf-Core
	url = https://github.com/P3RK4N/Tigraf-Core
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/yaml"]
	path = vendor/yaml
	url = https://github.com/jbeder/yaml-cpp
[submodule "vendor/nfd"]
	path = vendor/nfd
	url = https://github.com/mlabbe/nativefiledialog
